[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flasgger = "*"
psycopg2-binary = "*"
python-dotenv = "*"
python-slugify = "*"
nvidia-nat = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
